
body, html {
    height: 100%;
}
body {
    background-color: gray;
    font-family: Arial;
    margin: 0px;
}

.nav,
.content,
.header,
.footer {
    border: 2px solid gray;
    margin: 5px;
    background-color: white;
    font-size: 15px;
}

.header {
    position: fixed;
    top: 0px;
    height: 10%;
    margin: 5px;
    width: 100%;
}


.footer {
    position: fixed;
    margin: 5px;
    height: 10%;
    width: 100%;
    bottom: 0px;
}

.nav{
    float: left;
    width: 30%;
    height: 100%;
}

.content{
    float: right;
    width: 68%;
    height: 100%;
    overflow: scroll;
}
.main-div {
    background-color: transparent;
    position: relative;
    top: 11%;
    height: 77%;
    margin: 5px;
}

@media (max-width: 1000px)
{
    .nav {
        width: 99%;
        float: none;
    }
    .content {
        width : 99%;
        float: none;
    }
}
