
body, html {
    height: 100%;
}
body {
    background-color: gray;
    font-family: Arial;
    margin: 0px;
}

.nav,
.content,
.header,
.footer {
    border: 2px solid gray;
    margin: 5px;
    background-color: white;
    font-size: 15px;
}

.header {
    position: fixed;
    top: 0px;
    height: 5%;
    margin: 5px;
    width: 100%;
}


.footer {
    position: fixed;
    margin: 5px;
    height: 5%;
    width: 100%;
    bottom: 0px;
}

.nav{
    margin: auto;
    float: left;
    width: 30%;
    height: 100%;
}

.content{
    margin: 0;
    float: right;
    width: 69%;
    height: 100%;
    overflow: scroll;
}
.main-div {
    background-color: transparent;
    position: relative;
    top: 6%;
    /* bottom: -55px; */
    height: 87%;
    margin: 5px;
}

@media (max-width: 800px)
{
    .nav{
        width: 99%;
        float: none;
        height: 49%;
    }
    .content {
        height: 49%;

        width : 99%;
        float: none;
    }
}
