
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px auto 0;
    width: 50%;
}

.input-field {
    border: 1px solid black;
}

.init-button {
    border: 1px solid blue;
}