.counters {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.counter {
    font-size: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.header-icon {
    height: 50px;
    width: 50px;
}


input, button, submit {
    border: none;
}

