.square {
    border: 0.5px solid black;
    background-color: black;
    width: 20px;
    height: 20px;
}

.opened{
    background-color: white;
}

.flag{
    background-color: blue;
    width: 20px;
    height: 20px;
}