
body {
    font-family: arial;
    
}


.grid-container {
    display: grid;
    grid-template-areas: 
    'header' 
    'search'
    'products'
    'topics'
    'footer';
   
}

.header a:hover{
    border-top: 4px solid #4eb7f5
}