.footer {
    display: grid;
    width: 1306px;
    height: 383px;
    grid-template-columns: [col0] 232px [col1] 232px [col2] 232px [col3] 232px [col4] auto;
    grid-template-rows: [row0] 43px [row1] 30px [row2] 30px [row3] 30px [row4] 30px [row5] 30px [row6] 30px [row7] 30px [row8] 30px [row9] 30px [row10] 30px [row11] 30px ;
    padding: 100px 88px 80px 72px;
    margin: 0 auto;

}

.footer-title {
    color: #20303c;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 27px;
    text-transform: uppercase;

}

.footer-content {
    color: #43515c;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: block;
}

.footer-about {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #43515c;

}

.footer-social-logo {
    display: flex;
    width: 100%;
    height: 24px;
    margin-left: -13px;
}

.footer-social-logo  svg {
    width: 24px;
    height: 27px;
    margin-right: 14px;
    margin-top: 12px;
    fill: #43515c;
}



@media (max-width: 1130px) {

    .footer {
        display: none;
    }
}
