.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 78px;
}


.logo {
    padding-left: 38px;
    padding-right: 38px;
}



.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}



.navbar a {
    color: #43515c;
    cursor: pointer;
    padding-left: 23px;
    padding-right: 23px;
    border-top: 4px solid transparent;
    transition: border-top-color .2s;
}

.navbar a:hover{
    border-top: 4px solid #4eb7f5
}

.signin-border{
    color: #459fed;
    border: 1px solid #459fed;
    height: 30px;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    float: right;
    position: relative;
    border-radius: 50px;
    width: 16px;
    margin-top: 13px;

    
}

.signin-text {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.signin-border:hover {
    color: white;
    background-color: #459fed;
}



