.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 80px;
}
.header a {
    cursor: pointer;
    display: block;
    margin-top: -4px;
    padding-top: 26px;
    padding-left: 23px;
    padding-right: 23px;
    display: block;
    height: 50px;
    color: #20303c;
    text-decoration: none;
    position: relative;
    border-top: 4px solid transparent;
    transition: border-top-color .2s;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 50px;
    flex-grow: 6;
    padding-top: 15px;
}

.signin{
    flex-grow: 1;
    align-self: flex-end;

    display: inline;
    color: #459fed;
    
    border: 1px solid #459fed;
    height: 40px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 25px 3px;

    position: relative;
    border-radius: 50px;


    
}

.signin:hover {
    color: white;
    background-color: #459fed;
}

.logo {
    flex-grow: 1;
    display: block
   
}


