.products {
    border-bottom: 1px solid #eff1f2;
}

.products-grid {
    display: grid;
    justify-content:  center;
    margin: 0 auto;
    padding-top: 508px;
    grid-template-columns: repeat(4, 312px);
}

.box
{
    border: 1px solid #fafbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 40px 40px 40px 30px;
}


.left-box {
    border-left-color: transparent;
}

.right-box {
    border-right-color: transparent;
}

.top-box {
    border-top-color: transparent;
}

.bottom-box {
    border-bottom-color: transparent;
}



.products-header {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    color: #162d3d;
    margin-left: -17px;
}

.products-header:hover {
    cursor: pointer;
    color: #459fed;
}

.products-content {
    cursor: pointer;
    position: relative;
    list-style: url("images/marker.png");
    color: #66737c;
    margin-left: -37px;
}


.content-item {
    padding-bottom: 4px;
}

.content-item:hover {
    color: #459fed;
}

.show-all {
    color: #459fed;
    position: relative;
    font-size: 14px;
}

.show-all:hover {
    cursor: pointer;
}

.show-more {
    text-align: center;
    border-radius: 40px;
    padding: 9px 23px 11px;
    border: solid 1px #459fed;
    color: #459fed;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: #ffffff;
    width: 95px;
    margin: 40px auto 30px auto;;


}


.show-more:hover {
    color: white;
    background-color: #459fed;
}

@media (max-width: 750px) {
    .products {
        display: none;
    }
    .shrinked-products{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 18px;
        align-items: stretch;
        border-bottom: 1px solid #eff1f2;
        height: auto;
        padding-top: 350px;
        align-content: center;

    }

    .shrinked-products-box {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        height: 65px;
        position: relative;
        justify-content: space-between;
        border-bottom: 1px solid #eff1f2;
    }

    .search-line {
        width: 80%;
    }



}

.plus-icon {
    content: '_';
    right: 10px;
    top: 0;
    position: relative;
    color: #459fed;
    font-size: 18px;
    margin-top: 25px;
}

.product-h1 {
    font-size: 1.15em;
    line-height: 4;
    margin-left: 10px;
    margin-right: 35px;
    margin-bottom: 0;
    color: #162d3d;

}