.products {
    width: 1250px;
    height: 1100px;

    margin: 0 auto ;
    padding-top: 478px;

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.box
{
    border: 1px solid #eff1f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 40px 40px 40px 30px;
}

.products-header {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    color: #162d3d;
    margin-left: -17px;
}

.products-header:hover {
    cursor: pointer;
    color: #459fed;
}

.products-content {
    cursor: pointer;
    position: relative;
    list-style: url("images/marker.png");
    color: #66737c;
    margin-left: -37px;
}


.content-item {
    padding-bottom: 4px;
}

.content-item:hover {
    color: #459fed;
}

.show-all {
    color: #459fed;
    position: relative;
    font-size: 14px;
}

.show-all:hover {
    cursor: pointer;
}