.search {
    height: 300px;
}

.search-h1 {
    color: white;
    font-size: 2.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -27%;
    font-weight: lighter;
}

.search-h2 {
    text-align: center;
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -4%;
    font-weight: lighter;
}

.office-img {
    margin-top: 78px;
    filter: brightness(70%);
}

.search-box {
    width: 572px;
    height: 62px;

    color: white;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 40px;
}

.search-line {
    width: 492px;
    height: 40px;

    background-color: transparent;
    position: absolute;
    top: 51%;
    left: 47%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    border: 0px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 36%;
    left: 93%;
}