.search {
    height: 400px;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 78px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/mood.jpg);

}

.search-h1 {
    color: white;
    font-size: 56px;
    position: relative;
    font-weight: lighter;
    top: 55px;
}

.search-h2 {
    text-align: center;
    color: white;
    font-size: 22px;
    position: relative;
    font-weight: 400;
    top: 33px;
}

.office-img {

}

.search-box {
    width: 572px;
    height: 62px;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    border-radius: 40px;
    top: 34px;
}

.search-line {
    color: #1c1c1c;
    position: relative;
    font-weight: lighter;
    border: 0px;
    font-size: 16px;
    width: 542px;
    height: 62px;
    margin: 0 auto;
    background-color: white;
    border-radius: 40px;
    padding-left: 30px;
}

.search-line:focus {
    background-color: #d0e8f3;
}

.search-icon {
    position: relative;
    display: block;
    margin-left: 535px;
    margin-top: -40px;
}

input.search-line:focus {
    outline: none;
}

@media (max-width: 1130px) {
    .search {
        margin-top: 44px;
    }
}

@media (max-width: 750px) {
    .search {
        height: 210px;
    }

    .search-h2 {
        visibility: hidden;
    }

    .search-h1 {
        font-size: 2.2em;
    }

    .search-box {
        width: 100%;
        height:100px;
        background-color: #fafbfb;
        margin-top: 39px;
        border-radius: 0;

    }

    .search-line {
        margin-top: 18px;
    }




    /*.search-box {*/
        /*width: 572px;*/
        /*height: 62px;*/
        /*margin: 0 auto;*/
        /*position: relative;*/
        /*background-color: transparent;*/
        /*border-radius: 40px;*/
        /*top: 34px;*/
    /*}*/
}