.search {
    height: 300px;
}

.search-h1{
    color: white;
    font-size: 2.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -27%;
    font-weight: lighter;
}

.search-h2{
    text-align: center;
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -4%;
    font-weight: lighter;
}

.office-img{
    margin-top: 78px;
    filter: brightness(70%);
}