.trending {
    background-color: #fafbfb;
    padding: 50px 0;
}

.trending-h1 {
    margin-bottom: 50px;
    font-size: 40px;
    color: #66737c;
    text-align: center;
    font-weight: lighter;
}

.trending-grid {
    width: 1332px;
    height: 515px;

    margin: 0 auto;

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
}

.trending-box {
    /* debug */
    border: 1px solid red;
}

.svg-icon-wrapper {
    background-color: #375b74;
    height: 78px;
    width: 48px;
    border-radius: 5px 0 0 5px;
}


.svg-icon {
    margin: 23px 12px;
}