html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: HelveticaNeueW01-45Ligh,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eff1f2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
}

.content {
    padding-top: 150px;
    border-bottom: 1px solid #eff1f2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
}

.cart {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border: yellow;
    flex-direction: column;
    align-items: center;
}

.catalog {
    border-left: 1px solid #eff1f2;
    flex-grow: 3;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
}

.orders {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.animal-box {
    display: flex;
    flex-direction: column;
}

.box-button {
    color: #65c4ed;
    flex-grow: 1;
}

.animal-description {
    height: 100%;
    width: 100%;
    flex-grow: 4;
}

.shop-list {
    font-size: 20px;
    line-height: 1.7;
    color: #707070;
}

.order {
    margin-left: 30px;
}

.orders-list {
    display: flex;
    flex-direction: row;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    border-bottom: 1px black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip:hover {
    color: #4eb7f5;
}