.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  height: 100%;
  background-color: gray;
}

.wrapper > * {
  padding: 10px;
  margin: 5px;
  flex: 1 100%;
  background-color: white;
  
  
}

.aside {
    height: 87%;
}
.aside-1 {
}

.aside-2 {
  overflow: scroll;
  /* WTF?! */
  width: 30%;
}

@media all and (min-width: 600px) {
  .aside{ flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .aside-1 { order: 1; } 
  .aside-2 { order: 2; }
  .footer  { order: 3; }
}

body {
  margin: 0px;
  height: 100%;
}

html {
  height: 100%;
}
